@using BotecoPoker.Dominio.Entidades
@using BotecoPoker.Dominio.modelos
@model PaginacaoModel<TipoProduto, FiltroProduto>
<br />
<a type="button" class="btn btn-dark btn-lg" href="@Url.Action("CadastroTipoProduto","TipoProduto")">Incluir Tipo Produto</a>
<form class="form-control-lg" method="post" action="@Url.Action("FiltroTipoProduto","TipoProduto")">
    <h1 align="center">Pesquisa de Tipo Produtos</h1>

    <fieldset class="form-control-lg">
        <div class="form-row">
            <div class="col-md-5">
                <label class="" for="Nome"><b>Nome</b></label>
                <input type="text" class="form-control" name="Filtro.Nome" id="Nome" placeholder="Nome" value="@Model.Filtro.Nome">
            </div>
        </div>
    </fieldset>
    <div class="btn-block">
        <button type="submit" class="btn btn-dark btn-lg wt100">Pesquisar</button>
    </div>
</form>
<br />
<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaModel)
        {

            <tr>
                <td>@item.Nome</td>
                <td><a class="btn-dark" href="@Url.Action("BuscarPorId", new { Id = item.Id })">Alterar</a></td>
            </tr>
        }
    </tbody>
</table>

<input hidden value="@Model.Pagina" id="pagina" />

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @foreach (int pagina in Model.QtdPaginas)
        {
            <li class="page-item"><a class="page-link @Model.PrintaPaginaSelecionada(pagina, Model.Pagina)" href="@Url.Action("FiltroTipoProduto", new PaginacaoModel<TipoProduto, FiltroProduto>(Model, pagina))">@pagina</a></li>
        }
    </ul>
</nav>

<script>
    debugger;
    var pagina = document.getElementById("pagina").value;
    if (pagina != 1)
        window.scrollTo(0, document.body.scrollHeight);
</script>

