@using BotecoPoker.Dominio.Entidades
@using BotecoPoker.Dominio.modelos
@model PaginacaoModel<Cliente, FiltroCliente>

@{
    IEnumerable<SelectListItem> comboTorneios = ViewBag.ComboTorneios;
    var cliente = Model.ListaModel.FirstOrDefault();
    var nomeCliente = cliente?.Nome ?? "";
    var idCliente = cliente?.Id ?? 0;
    var erro = (ViewBag?.erro == "" || ViewBag?.erro == null) ? "" : ViewBag.erro;
    var classeErro = (erro == "" || erro == null) ? "" : "alert alert-danger";
}
<br />
<div align="right">
    <a type="button" class="btn btn-dark btn-lg direita" href="@Url.Action("FiltroTorneioCliente","TorneioCliente")">Voltar</a>
</div>
<form class="form-control-lg" id="meuForm" method="post" action="@Url.Action("CadastroTorneioCliente","TorneioCliente")">
    <h1 align="center">Cadastro de Cliente no Torneio</h1>
    <div class="@classeErro" role="alert">
        @erro
    </div>
    <fieldset class="form-control-lg">
        <div class="form-row">

            <div class="form-group col-lg-2">
                <label for="sel1"><b>Código</b></label>
                <div class="input-group mb-3">
                    <input id="codigoCliente1" type="tel" class="form-control" name="Codigo" placeholder="Código" value="@(cliente?.Codigo??"")">
                </div>
            </div>

            <div class="form-group col-lg-4">
                <label for="sel1"><b>Cliente</b></label>
                <div class="input-group mb-3">
                    <input hidden name="IdCliente" value="@idCliente" id="IdCliente" />
                    <input type="tel" disabled class="form-control" name="NomeCliente" placeholder="Nome" id="NomeCliente" value="@nomeCliente">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button" id="ProcurarCliente" onclick="OpenModal()">Procurar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-control">
            <div class="form-row">

                <div class="form-group col-lg-3">
                    <label for="sel1" style=""><b>Torneio: </b></label>
                    <div class="">
                        @Html.DropDownList("IdTorneio", comboTorneios, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-lg-3">
                    <label for="sel1"><b>Bonus Beneficente</b></label>
                    <select class="form-control" id="BonusBeneficente" name="BonusBeneficente">
                        <option value="0">Nenhum</option>
                        <option value="5.00">R$ 5,00</option>
                        <option value="Alimento">Alimento</option>
                    </select>
                </div>

                <div class="checkbox" style="margin-top:3.6%;">
                    <label><input type="checkbox" value="1" name="BuyIn">Buy-In</label>
                    <label><input type="checkbox" value="1" name="BuyDouble">Buy-Double</label>
                    <label><input type="checkbox" value="1" name="ReBuy">Re-Buy</label>
                    <label><input type="checkbox" value="1" name="Addon">Addon</label>
                    <label><input type="checkbox" value="1" name="JackPot">Jack-Pot</label>
                    <label><input type="checkbox" value="1" name="TaxaAdm">Taxa Adm</label>
                </div>
            </div>
        </div>

    </fieldset>



    <span class="">
        <input type="submit" class="btn-dark btn-lg btn-block" value="Cadastrar" />
    </span>
    @{
        <input hidden value="@ViewBag.OpenModal" id="abreModal">
    }
</form>

<div class="modal fade bd-example-modal-lg" id="ModalBuscaCliente">
    <div class="modal-dialog modal-lg">
        <div class="modal-body modal-content">
            <form method="post" action="@Url.Action("FiltrarClienteModal","TorneioCliente")">
                <fieldset>
                    <div class="form-row">
                        <div class="col-md-5">
                            <label class="" for="Nome"><b>Nome</b></label>
                            <input type="text" class="form-control" id="Nome" name="PaginacaoModel.Filtro.Nome" placeholder="Nome" value="@Model.Parametro1">
                        </div>
                        <div class="col-md-4">
                            <label class="" for="Nick"><b>Nick</b> (apelido)</label>
                            <input type="text" class="form-control" name="PaginacaoModel.Filtro.Apelido" id="Apelido" placeholder="Nick" value="@Model.Parametro12">
                        </div>
                        <div class="col-md-3">
                            <label class="" for="Codigo"><b>Código</b> (Código do dia)</label>
                            <input type="text" class="form-control" id="Codigo" name="PaginacaoModel.Filtro.Codigo" placeholder="Código" value="@Model.Parametro13">
                        </div>
                    </div>
                </fieldset>
                <div class="btn-block">
                    <button type="submit" class="btn btn-dark btn-lg wt100">Pesquisar</button>
                </div>
            </form>
            <table class="table table-sm table-dark">
                <thead class="">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaModel)
                    {
                        var nome = item?.Nome ?? "";
                        var cpf = item?.CPF ?? "";
                        var id = item?.Id ?? 0;
                        <tr>
                            <td>@nome</td>
                            <td>@cpf</td>
                            <td><a class="btn-dark" href="@Url.Action("SelecionarCliente", new FiltroCliente { IdCliente = id})">Selecionar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @foreach (var pagina in Model.QtdPaginas)
                    {
                        <li class="page-item"><a class="page-link @Model.PrintaPaginaSelecionada(pagina, Model.Pagina)" href="@Url.Action("FiltrarClienteModal", new PaginacaoModel<Cliente, FiltroCliente>(Model, pagina))">@pagina</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="~/Content/CadastroTorneioCliente.js"></script>

<form action="@Url.Action("SelecionarCliente","TorneioCliente")" method="get" hidden id="inserirForm">

    @*<input type="text" name="Codigo"  hidden id="CodigoCliente2" />*@

    <input type="submit" hidden id="MeuSubmit" />

</form>

